@font-face {
  font-family: "iconfont"; /* Project id 5119725 */
  src: url('iconfont.woff2?t=1770172205849') format('woff2'),
       url('iconfont.woff?t=1770172205849') format('woff'),
       url('iconfont.ttf?t=1770172205849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before {
  content: "\e646";
}

.icon-a-shili-zhankaizuocezhankaijiantou:before {
  content: "\e650";
}

.icon-search:before {
  content: "\e621";
}

.icon-home:before {
  content: "\e630";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-hanbaocaidan:before {
  content: "\eb36";
}

.icon-xinfeng:before {
  content: "\e86f";
}

.icon-user:before {
  content: "\e60b";
}

